.weatherimg{
    display: flex;
    object-fit: cover;
    width: 150px;
    height: 150px;
    flex-direction: row;
    align-items: flex-end;
}

.choosecity{
    margin: 20px auto;
    font-size: 30px;
    word-spacing: 4px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
}

.searchbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.searchbox > input{
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    padding-left: 50px;
}

.searchbox input:focus{
border: 1px solid black;
border-radius: 0%;
}

.searchbox .search{
    background-color: rgb(241, 189, 189);
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.searchbox .search:hover {
    background-color: rgb(238, 152, 152);
}